#main_part h1{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin: 0 0;
}
#main_part h2{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin: 0 0;
}

#main_part h3{
    margin-top: 25px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.margin_160{
    margin-top:160px;
}

.margin_20{
    margin-top:20px;
}

.margin_45{
    margin-top:45px;
}

.margin_-5{
    margin-top:-5px;
}

.margin_195{
    margin-top:195px;
}

.margin_36{
    margin-top:36px;
}

.margin_-25{
    margin-top:-25px;
}

a {
    text-decoration: none;
    color: #4341BE;
}